.greetings-main{
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
    display:flex;
}

.greetings-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.greetings-text {
    width:50%;
    /* background: #ff0000; */
    align-items: center;
    text-align: left;
    justify-content: center;
    margin-top: 2rem;
    padding: 30px;
}

.greetings-title {
    font-size: 40px;
    color: #000000;
    font-family: "Google Sans Medium";
    letter-spacing: normal;
    margin:0;
    line-height: 1.3em;
}

.greetings-subtitle {
    font-size: 25px;
    color: #868e96;
    font-family: "Google Sans Medium";
    margin: 0;
    margin-top: 10px;
    letter-spacing: normal;
    line-height: 1.3em;
}

.greetings-img {
    width:50%;
}

.greetings-img-i {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .greetings-main{
        flex-direction: column-reverse;
    }

    .greetings-text{
        width: 97%;
        padding: 0;
        margin-top: 20px;
        text-align: center;
    }

    .greetings-title{
        font-size: 25px;
    }

    .greetings-subtitle {
        font-size: 16px;
    }

    .greetings-img{
        width: 97%;
    }
}
